@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Nerko+One&family=Oswald:wght@200&family=Roboto:wght@300&family=Source+Serif+Pro:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.main{
    background-color:beige;
    font-family: 'Source Serif Pro', serif;
    width: 1320px;
    height: 900px;
}
.sidebar{
    background-color:#a3a57cc8;
    width: 200px;
    height: 900px;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    font-weight: bold;
   
   
} 
.sidebar nav{
    list-style: none;
    padding:25px 0;
    margin:20px;
    font-size: 25px;  
}
.InfoContainer{
       background-color:rgb(242, 242, 220); 
      width: 76vw;
       height: 94vh;
      margin: 100px;
      display: flex;
      justify-content: space-around;
}
.name{
    font-size: 50px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}
.about{
    font-size: 40px;
    margin: 5px;
    padding: 5px;
}
.moreabout{
    font-size: 20px;
    font-weight: bold; 
    font-family: 'Source Serif Pro', serif;
    margin: 5px;
padding: 5px;
}
.devpic img{
    margin: 4px;
    padding: 4px;
        width: 20vw;
        height: 35vh;
    display: flex;
}
.devinfo{
    margin: 0px;
    padding: 0px;
    font-style: oblique;
    display: flexbox; 
}
.sidebar li{
    list-style: none;
    padding:33px 0;
    foontsize=25px;
    color:black;
}
.sidebar li a{
    text-decoration: none;
    color: black;
}
.container{
    display:flex;
    width:120vw;
    height:178vh;
}
.buttons button{
    margin: 7px;
    padding: 4px;
    background-color: beige;
    color: black;
    font-style: bold;
    font-weight: bold;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}
.buttons button a{
    text-decoration: none;
    margin: 7px;
    padding: 4px;
    background-color: beige;
    color: black;
    font-style: bold;
    font-weight: bold;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}
.Contact h1{
    padding: 0.5rem 1rem 0.5rem 6.5rem;
    font-size: 60px;
    background-color: rgb(249, 249, 242);

}
.Contact h2{
    padding: 0.5rem 1rem 0.5rem 6.5rem;
    background-color: rgb(249, 249, 242);

}
.Contact Form{
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    padding-left: 36px;
    padding: 50px;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 6.5rem;
    background-color: rgb(249, 249, 242);   
}
.form-control{
    padding:5px;
    font-size: 15px;;
}
.buttons button btn{
    text-decoration: none;
    margin: 7px;
    padding: 4px;
    background-color: beige;
    color: black;
    font-style: bold;
    font-weight: bold;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}
.myblog h1{
    padding: 16px;
    margin: 10px;
}
.myblog p{
    font-size: 28px;
}
.Cpp img{
    height: 30vh;
    
}
.html img{
    height: 30vh;
}
.Java img{
    height: 30vh;
}
.Python img {
    height: 30vh;

}
.IntroContainer {
    padding: 40px;
    
}

















